<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/static/style.css"/>
    <meta charset="UTF-8">
    <title>анкета</title>
</head>
<body>
<div class="container">
    <h2>приветствую,{{username}}!</h2>
    <p>ответь на вопросы.</p>
    <form method="POST">
        <label>выбери чебурек,кулебяка,пельмень</label><br/>
        <label> <input type="radio" name="favourite_meal"value="всё вместе" required>всё вместе</label><br/>
        <label> <input type="radio" name="favourite_meal"value="чебурек" >чебурек</label><br/>
        <label> <input type="radio" name="favourite_meal"value="кулебяка" >кулебяка</label><br/>
        <label> <input type="radio" name="favourite_meal"value="пельмень" >пельмень</label><br/>

        <label>самая любимая игра??</label><br/>
        <label> <input type="radio" name="favourite_game"value="ROBLOX" required >ROBLOX</label><br/>
        <label> <input type="radio" name="favourite_game"value="minecraft" >minecraft</label><br/>
        <label> <input type="radio" name="favourite_game"value="terraria" >terraria</label><br/>
        <label> <input type="radio" name="favourite_game"value="melon sandbox" >melon sandbox</label><br/>

        <label> в какие игры играешь? </label><br/>
        <label> <input type="checkbox" name="games1"value="ROBLOX" required>ROBLOX</label><br/>
        <label> <input type="checkbox" name="games1"value="ROBLOX" >ROBLOX</label><br/>
        <label> <input type="checkbox" name="games1"value="ROBLOX" >ROBLOX</label><br/>
        <label> <input type="checkbox" name="games1"value="ROBLOX" >ROBLOX</label><br/>

                <label> в какие игры играешь? </label><br/>
        <label> <input type="checkbox" name="games2"value="ROBLOX" required>ROBLOX</label><br/>
        <label> <input type="checkbox" name="games2"value="ROBLOX" >ROBLOX</label><br/>
        <label> <input type="checkbox" name="games2"value="ROBLOX" >ROBLOX</label><br/>
        <label> <input type="checkbox" name="games2"value="ROBLOX" >ROBLOX</label><br/>

        <label> в какие игры играешь? </label><br/>
        <label> <input type="checkbox" name="games3"value="ROBLOX" required>ROBLOX</label><br/>
        <label> <input type="checkbox" name="games3"value="ROBLOX" >ROBLOX</label><br/>
        <label> <input type="checkbox" name="games3"value="ROBLOX" >ROBLOX</label><br/>
        <label> <input type="checkbox" name="games3"value="ROBLOX" >ROBLOX</label><br/>

        <label> в какие игры играешь? </label><br/>
        <label> <input type="checkbox" name="games4"value="ROBLOX" required>ROBLOX</label><br/>
        <label> <input type="checkbox" name="games4"value="minecraft" >minecraft</label><br/>
        <label> <input type="checkbox" name="games4"value="terraria" >terraria</label><br/>
        <label> <input type="checkbox" name="games4"value="melon sandbox" >melon sandbox</label><br/>



        <label> в какие игры играешь в ROBLOX? </label><br/>
        <label> <input type="text" name="friend"placeholder="напиши свой вариант" required></label><br/>



        <label>ты с какого устройства играеш</label><br/>
        <label> <input type="radio" name="Your device"value="компьютер" >компьютер</label><br/>
        <label> <input type="radio" name="Your device"value="телефон" >телефон</label><br/>
        <label> <input type="radio" name="Your device"value="ноутбук" >ноутбук</label><br/>
        <label> <input type="radio" name="Your device"value="планшет" >планшет</label><br/>

        <label>твой лудший друг? </label><br/>
        <label> <input type="text" name="roblox_games"placeholder="напиши свой вариант" required></label><br/>

        <label>ты отличник?</label><br/>
        <label> <input type="radio" name="mark"value="я 2" >я2</label><br/>
        <label> <input type="radio" name="mark"value="я 3" >я 3</label><br/>
        <label> <input type="radio" name="mark"value="я 4" >я 4</label><br/>
        <label> <input type="radio" name="mark"value="я 5" >я 5</label><br/>


        <button type="submit">подтвердить</button>


    </form>
    </div>
</body>
</html>


